.base-modal {
	opacity: 0;
	visibility: hidden;
	transition: all 0.2s ease-out;

	.backdrop {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $modal-mask;
		z-index: $modal-mask-z;
	}

	.modal {
		position: fixed;
		top: rem(50);
		left: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: rem(320);
		margin-left: rem(-160);
		padding: rem(30) rem(15);
		padding-top: rem(50);
		background-color: $navbar-bg;
		z-index: $modal-z;

		p {
			margin-top: rem(14);
		}
	}

	&.active {
		opacity: 1;
		visibility: visible;
	}
}