.base-back-btn {
	position: absolute;
	left: rem(20);
	background-color: transparent;
	top: rem(30);
	height: rem(10.6);
	width: rem(10.6);
	border-bottom: rem(2.6) solid $back-bg;
	border-left: rem(2.6) solid $back-bg;
	transform: rotate(45deg);
}