.me {
	position: relative;
	width: 100%;

	&-btn-toggle {
		position: absolute;
		top: 0;
		right: rem(-30);
		width: rem(46);
		height: rem(46);
		border-bottom-left-radius: rem(5);
		border-bottom-right-radius: rem(5);
		background-color: $navbar-bg;
		z-index: $btn-toggle-menu-z;
		cursor: pointer;

		&-icon {
			font-size: rem(26);
			transform: scale(1, -1);
		}

		.is-open {
			top: 0;
			position: fixed;
			padding: rem(8);
			border-bottom-left-radius: rem(5);
			border-bottom-right-radius: rem(5);
			background-color: $green;
			transform: scale(1, 1);
		}
	}

	&-menu {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $navbar-bg;
		z-index: $menu-z;

		&-list {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			position: relative;
			top: rem(75);
		}

		&-item {
			margin: rem(6) 0;

			&-description {
				border: rem(1) dotted $yellow;
				font-size: rem(12);
				padding: rem(8);
				color: $pinky;
			}

			&-qr {
				padding: rem(16);
				background-color: $white;
				margin: 0 auto;
				box-shadow: 0 rem(13) rem(32) rem(-10) black;
			}

			&-readme {
				font-size: rem(12);
				margin: rem(10) 0;

				button {
					text-decoration: underline;
				}
			}
		}

		&-input {
			text-align: center;
			font-family: inherit;
			font-size: inherit;
			border: none;
			border-radius: rem(15);
			width: rem(280);
			padding: rem(10);
			margin: rem(10) 0;
			background-color: $background;
			color: $green;
			caret-color: $green;
		}

		::placeholder {
			color: $green;
		}
	}
}