.party-member {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: rem(45);

	&-field {
		position: relative;

		input {
			text-align: center;
			font-family: inherit;
			font-size: inherit;
			border: none;
			border-radius: rem(15);
			width: rem(285);
			padding: rem(10);
			margin: rem(10) 0;
			background-color: $navbar-bg;
			color: $blue;
			caret-color: $blue;
		}

		.delete-btn {
			position: absolute;
			top: rem(17);
			right: rem(10);
			user-select: none;
			cursor: pointer;
		}

		::placeholder {
			color: $placeholder-blue;
		}

		.error {
			border: rem(1) solid $red;
		}

		.error-msg {
			font-size: rem(12);
			color: $red;
		}
	}
}