.party-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: rem(45);

	&-box {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: $navbar-bg;
		color: $blue;
		margin: rem(16) 0;
		padding: rem(20);
		width: rem(300);
		border-radius: rem(24);
		box-shadow: 0 rem(13) rem(32) rem(-10) black;
		margin-top: rem(20);
		transition: all 450ms;

		&-delete {
			position: absolute;
			top: rem(10);
			right: rem(10);
			user-select: none;
		}
	}

	&-title {
		font-size: rem(18);
		margin-bottom: rem(28);

		&-name {
			font-size: inherit;
			color: $light-blue;
		}
	}

	&-field {
		display: flex;
		flex-direction: column;
		align-items: center;

		&-input {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: rem(16);

			&-text {
				font-family: inherit;
				font-size: inherit;
				border: none;
				border-radius: rem(15);
				width: rem(200);
				padding: rem(10);
				margin: rem(10) 0;
				background-color: $background;
				color: $light-blue;
				caret-color: $blue;
				text-align: center;
			}

			&-member {
				&-list {
					width: rem(280);
					margin: rem(8) rem(6);
					display: flex;
					flex-flow: row wrap;
					justify-content: center;
					list-style: none;
				}

				&-item {
					position: relative;
					display: flex;

					label {
						color: $blue;
						background-color: $background;
						border-radius: rem(15);
						border: rem(2) solid $placeholder-blue;
						padding: rem(10) rem(18) rem(10) rem(28);
						margin: rem(6) 0;
						margin-right: rem(6);
						cursor: pointer;
						transition: all 200ms ease-in-out;
						user-select: none;

						&::before,
						&::after {
							position: absolute;
							content: "";
							background-color: $placeholder-blue;
							transition: transform 300ms ease-in-out;
						}

						&::before {
							top: rem(22.5);
							left: rem(16);
							width: rem(2);
							height: rem(10);
						}

						&::after {
							top: rem(26.5); // 22.5 + (10/2 - 2/2) = 26.5
							left: rem(12); // 16 - (10/2 - 2/2) = 12
							width: rem(10);
							height: rem(2);
						}
					}

					input[type=checkbox] {
						position: absolute;
						opacity: 0;
					}

					input[type=checkbox]:checked {
						+ label {
							border: rem(2) solid $light-blue;
							color: $light-blue;

							&::before {
								transform: rotate(-675deg); // spin 2 time 45deg -  720deg
								background-color: transparent;
								top: rem(21);
								height: rem(8.5);
								width: rem(2.5);
								border-bottom: rem(2) solid $light-blue;
								border-right: rem(2) solid $light-blue;
							}

							&::after {
								transform: rotate(-360deg);
								opacity: 0;
							}
						}
					}
				}
			}
		}
	}

	@include desktop {
		&-box {
			width: rem(600);
		}

		&-field {
			&-input {
				display: flex;
				flex-direction: row;
				width: rem(400);
				align-items: center;

				&-label {
					display: inline-block;
					width: rem(100);
					text-align: left;
					align-self: top;
				}

				&-text {
					text-align: left;
					padding-left: rem(18);
					width: rem(280);
				}

				&-member {
					&-list {
						justify-content: flex-start;
						max-width: rem(290);
					}
				}
			}
		}
	}
}