.party-cost {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: rem(45);

	h3 {
		color: $blue;
		margin-top: rem(10);
	}

	&-error {
		color: $pinky;
		font-size: rem(18);
		margin-bottom: 0;
	}


	&-warning {
		color: $pinky;
		font-size: rem(14);

		.lack {
			color: $yellow;
		}
	}

	&-input {
		text-align: center;
		font-family: inherit;
		font-size: inherit;
		border: none;
		border-radius: rem(15);
		width: rem(285);
		padding: rem(10);
		margin: rem(10) 0;
		background-color: $navbar-bg;
		color: $blue;
		caret-color: $blue;
	}

	::placeholder {
		color: $placeholder-blue;
	}

	&-total {
		&-input {
			position: relative;

			&-baht {
				position: absolute;
				color: $blue;
				top: rem(20);
				right: rem(10);
			}
		}
	}

	&-description {
		margin-top: rem(6);
		font-size: rem(10);
		color: $light-blue;

		&.current-cost {
			font-size: rem(14);
			color: $light-green;
			margin-top: rem(16);
		}
	}

	&-box {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: center;
		background-color: $navbar-bg;
		color: $blue;
		margin: rem(16) 0;
		padding: rem(20);
		width: rem(285);
		border-radius: rem(24);
		box-shadow: 0 rem(13) rem(32) rem(-10) black;
		margin-top: rem(20);

		&-member {
			&-list {
				width: rem(280);
				margin: rem(8) rem(6);
				display: flex;
				flex-flow: row wrap;
				justify-content: center;
				list-style: none;
			}

			&-item {
				position: relative;
				display: flex;

				label {
					color: $blue;
					background-color: $background;
					border-radius: rem(15);
					border: rem(2) solid $placeholder-blue;
					padding: rem(10) rem(18) rem(10) rem(28);
					margin: rem(6) 0;
					margin-right: rem(6);
					cursor: pointer;
					transition: all 200ms ease-in-out;
					user-select: none;

					&::before,
					&::after {
						position: absolute;
						content: "";
						background-color: $placeholder-blue;
						transition: transform 300ms ease-in-out;
					}

					&::before {
						top: rem(22.5);
						left: rem(16);
						width: rem(2);
						height: rem(10);
					}

					&::after {
						top: rem(26.5); // 22.5 + (10/2 - 2/2) = 26.5
						left: rem(12); // 16 - (10/2 - 2/2) = 12
						width: rem(10);
						height: rem(2);
					}
				}

				input[type=checkbox] {
					position: absolute;
					opacity: 0;
				}

				input[type=checkbox]:checked {
					+ label {
						border: rem(2) solid $light-blue;
						color: $light-blue;

						&::before {
							transform: rotate(-675deg); // spin 2 time 45deg -  720deg
							background-color: transparent;
							top: rem(21);
							height: rem(8.5);
							width: rem(2.5);
							border-bottom: rem(2) solid $light-blue;
							border-right: rem(2) solid $light-blue;
						}

						&::after {
							transform: rotate(-360deg);
							opacity: 0;
						}
					}
				}
			}
		}
	}
}