.party-summary {
	display: flex;
	flex-direction: column;
	align-items: center;

	.box {
		position: relative;
		background-color: $navbar-bg;
		color: $background;
		margin: rem(16) 0;
		padding: rem(20);
		width: rem(300);
		border-radius: rem(24);
		margin-top: rem(20);
		transition: all 450ms;

		.delete {
			position: absolute;
			top: rem(10);
			right: rem(10);
			user-select: none;
		}

		&:hover {
			box-shadow: 0 rem(13) rem(32) rem(-10) black;
		}
	}

	.header{
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: rem(10);

		.name {
			font-size: rem(16);
			color: $green;
		}
	}

	.detail {
		text-decoration: underline;
		background-color: transparent;
		color: $blue;
		font-size: rem(14);

		&:hover {
			color: $light-blue;
		}
	}

	.total {
		display: flex;
		font-size: rem(14);
		color: $light-green;
		margin-bottom: rem(10);
	}

	.members {
		display: flex;
		align-items: baseline;
		font-size: rem(12);
		color: $light-green;

		.label {
			color: $green;
		}

		.item {
			margin-right: rem(5);
			margin-bottom: rem(2);
		}
	}


	@include desktop {
		.box {
			width: rem(600);
		}
	}
}