.party-detail {
	padding: rem(70) 0;

	&-manage {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: rem(20);

		.btn {
			margin: 0 rem(10);
			background: $light-green;

			&.delete {
				background: transparent;
				color: $light-green;
				border: 0;
				text-decoration: underline;

				&:hover {
					color: $green;
				}
			}
		}
	}

	.split-bill {
		width: 100%;
		background-color: $navbar-bg;
		padding: rem(20) rem(10);
		border-radius: rem(10);
		color: $white;

		.header {
			text-align: center;
		}

		.member-box {
			display: flex;
			flex-direction: column;
			background-color: $green;
			border-radius: rem(5);
			padding: rem(10) rem(20);
			margin: rem(15) 0;

			.member-info {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				color: $background;

				.info{
					font-size: rem(14);
					margin-bottom: rem(8);
					text-align: start;

					label {
						font-weight: bold;
						color: $white;
						margin-right: rem(10);
					}

					&.menus {
						.item {
							display: inline-block;
							margin-right: rem(6);
						}
					}

					&.change {
						label {
							color: $yellow;
						}
					}

					&.have-to-pay {
						label {
							color: $yellow;
						}
					}

					&:last-child {
						margin-bottom: 0;
					}
				}
			}

			.member-setting {
				display: flex;
				align-items: center;
				margin-top: rem(10);
				font-size: rem(12);

				.show-qr {
					display: flex;
					align-items: center;
					background-color: $blue;
					color: $white;
					border-radius: rem(4);
					padding: rem(6) rem(8);
					margin-right: rem(30);

					.icon {
						margin-left: rem(4);
					}

					&:hover {
						background-color: $navbar-bg;
					}

					&:active {
						border: rem(1) solid $white;
						padding: rem(5) rem(7);
					}

					&:disabled {
						cursor: not-allowed;
					}
				}

				.checkbox {
					input {
						opacity: 0;
					}

					label {
						position: relative;

						span {
							position: absolute;
							top: rem(1);
							left: rem(20);
						}

						&::before {
							content: "";
							position: absolute;
							background-color: $navbar-bg;
							border-radius: rem(3);
							width: rem(16);
							height: rem(16);
						}
					}

					input:checked + label {
						&::after {
							content: "";
							position: absolute;
							transform: rotate(45deg); // spin 2 time 45deg -  720deg
							top: rem(1);
							left: rem(6);
							height: rem(8.5);
							width: rem(2.5);
							border-bottom: rem(2) solid $light-blue;
							border-right: rem(2) solid $light-blue;
						}
					}
				}
			}

			&.is-paid {
				position: relative;
				opacity: 0.5;

				&::before {
					position: absolute;
					content: "PAID";
					width: rem(100);
					top: 50%;
					left: 50%;
					margin-left: rem(-50);
					margin-top: rem(-5);
				}
			}
		}

		@include desktop {
			.member-box {
				display: flex;
				flex-direction: row;

				.member-info {
					width: 80%;
				}

				.member-setting {
					flex-direction: column;
					align-items: flex-start;
					justify-content: space-between;
					margin: 0;
				}
			}
		}
	}
}