// Transition
.party-menu-list {
	&-enter-active {
		animation: bounceIn 750ms;
	}

	&-enter, &-leave-to {
		opacity: 0;
	}

	&-leave-active {
		position: absolute;
	}
}

.icon-fade {
	&-enter-active {
		transition: opacity 1s ease;
	}

	&-leave-active {
		transition: opacity 0.5s ease;
	}

	&-enter {
		opacity: 0;
	}

	&-leave-to {
		opacity: 0;
	}
}


.slide-down {
	&-enter-active {
		animation: slideUpDown 1s ease;
	}

	&-leave-active {
		animation: slideUpDown 1s ease reverse;
	}
}

@keyframes slideUpDown {
	0% {
		top: -100%;
	}
	100% {
		top: 0;
	}
}

.shake {
	&-enter-active {
		animation: shake 0.5s;
	}
}

@keyframes shake {
	from,
	to {
	  transform: translate3d(0, 0, 0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
	  transform: translate3d(rem(-10), 0, 0);
	}

	20%,
	40%,
	60%,
	80% {
	  transform: translate3d(rem(10), 0, 0);
	}
}

.fade-in {
	&-enter-active {
		animation: fadeIn 500ms ease;
	}

	&-leave-active {
		animation: fadeIn 500ms ease reverse;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

// -- Ref. https://github.com/daneden/animate.css/blob/master/source/bouncing_entrances/bounceIn.css --
@keyframes bounceIn {
	from,
	20%,
	40%,
	60%,
	80%,
	to {
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	0% {
		opacity: 0;
		transform: scale3d(0.3, 0.3, 0.3);
	}

	20% {
		transform: scale3d(1.1, 1.1, 1.1);
	}

	40% {
		transform: scale3d(0.9, 0.9, 0.9);
	}

	60% {
		opacity: 1;
		transform: scale3d(1.03, 1.03, 1.03);
	}

	80% {
		transform: scale3d(0.97, 0.97, 0.97);
	}

	to {
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}
}