@import "./variables.scss";
@import "./functions.scss";
@import "./animations.scss";
@import url('https://fonts.googleapis.com/css?family=Signika&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:focus,
:hover {
    outline: 0;
    -webkit-tap-highlight-color: transparent;
}

html, body {
    background-color: $background;
	font-family: "Signika", sans-serif;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: $green;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1;
}

a {
    color: $green;
    text-decoration: none;
}

a:active,
a:hover {
	outline: 0;
}

input:focus {
    outline: none;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    text-align: inherit;
    outline: none;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    cursor: pointer;

    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
}

.title {
    font-size: rem(22);
    font-weight: bold;
    margin-bottom: rem(18);
}

.error {
    font-size: rem(14);
    color: $red;
}


.section {
    padding-top: rem(40);
}

.btn {
    min-width: rem(120);
    height: rem(35);
    padding: rem(5) rem(15);
    margin: rem(10) 0;
	border: rem(2) solid;
	border-radius: rem(20);
    background-color: $green;
    color: $background;
    user-select: none;

    &:hover {
		color: $green;
		border-color: $green;
		background-color: $background;
    }

    &:disabled {
		background-color: $yellow;
        cursor: not-allowed;
    }
}

.big-btn {
    width: rem(260);
	margin: rem(20) 0;
	padding: rem(8) rem(12);
	border-radius: rem(20);
	color: $background;
	background-color: $green;
	border: rem(2) solid;
	border-color: transparent;
	font-size: rem(16);
	transition: all 200ms ease-in-out;
	cursor: pointer;

    &:hover {
		color: $green;
		border-color: $green;
		background-color: $background;
    }

    &:disabled {
		background-color: $yellow-warn;
        border-color: $background;
		color: $background;
        filter: alpha(opacity=50);
        cursor: not-allowed;
    }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#app {
    position: relative;
    padding: 0 rem(40);
    margin: 0 auto;
    max-width: rem(672);
}

@import "./components/me.scss";
@import "./components/party-member.scss";
@import "./components/party-menu.scss";
@import "./components/party-summary.scss";
@import "./components/party-cost.scss";
@import "./components/base-back-btn.scss";
@import "./components/base-modal.scss";
@import "./pages/party-detail.scss";
@import "./animations.scss"