@function rem($pixels, $context: $base-font-size) {
	@if (unitless($pixels)) {
		$pixels: $pixels * 1px;
	}

	@if (unitless($context)) {
		$context: $context * 1px;
	}

	@return $pixels / $context * 1rem;
}

@mixin mobile {
	@media (max-width: rem($screen-mobile)) {
		@content;
	}
}

@mixin tablet {
	@media (max-width: rem($screen-desktop)) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: rem($screen-desktop)) {
		@content;
	}
}