// Main colors
$navbar-bg: #222528;
$back-bg: #464646;
$darker-green: #066f55;
$green: #019d76;
$placeholder-blue: #173945;
$blue: #017c9d;
$light-blue: #15b8ae;
$light-green: #7ebea0;
$yellow: #edc801;
$yellow-warn: #edca0154;
$pinky: #d16ccd;
$navbar-inner: #070b0e;
$background: #111212;
$modal-mask: #000000c3;
$black: #0b0b0e;
$white: #fff;
$red: #f00000;

// Typography
$base-font-size: 16;

// Responsive
$screen-mobile: 600;
$screen-desktop: 700;

// Z
$menu-z: 199;
$btn-toggle-menu-z: 200;
$modal-mask-z: 999;
$modal-z: 1000;