<template>
	<main>
		<base-back-button :to="{ name: 'main' }" />
		<section class="section">
			<party-member @next="handleScroll" />
		</section>
		<transition name="fade-in">
			<section
				v-if="hasStep('menu')"
				id="menu"
				class="section"
			>
				<party-menu @next="handleScroll" />
			</section>
		</transition>
		<transition name="fade-in">
			<section
				v-if="hasStep('cost')"
				id="cost"
				class="section"
			>
				<party-cost />
			</section>
		</transition>
	</main>
</template>
<script>
import PartyMember from "@/components/PartyMember.vue";
import PartyMenu from "@/components/PartyMenu.vue";
import PartyCost from "@/components/PartyCost.vue";
import BaseBackButton from "@/components/BaseBackButton.vue";
import { mapState } from "vuex";

export default {
	components: {
		PartyMember,
		PartyMenu,
		PartyCost,
		BaseBackButton
	},
	computed: {
		...mapState("step", {
			steps: "steps"
		}),
		...mapState("party", {
			party: "party"
		})
	},
	created() {
		this.handleRefresh();
	},
	methods: {
		hasStep(step) {
			return this.steps.includes(step);
		},
		handleScroll(e) {
			setTimeout(() => {
				this.$scrollTo(`#${e}`, 500);
			}, 100);
		},
		handleRefresh() {
			const isEmpty = this.party.name === "";
			if (isEmpty) {
				this.$router.push({ name: "main" });
			}
		}
	}
};
</script>

