<template>
	<div class="party-detail">
		<base-back-button :to="{ name: 'main' }" />
		<div class="split-bill">
			<div class="header">
				<h1>{{ party.name }}</h1>
			</div>
			<div
				v-for="(member, index) in bills"
				:key="`${member}${index}`"
				:class="[
					'member-box',
					{ 'is-paid': member.isPaid }
				]"
			>
				<div class="member-info">
					<p class="info name">
						<label>Name</label> {{ member.name }}
					</p>
					<div class="info menus">
						<label>Join menu</label>
						<p
							class="item"
						>
							{{ menuWithComma(member.menus) }}
						</p>
					</div>
					<p class="info have-to-pay">
						<label>Have to pay</label>
						{{ member.haveToPaid }} ฿
					</p>
					<p
						v-if="member.change > 0"
						class="info change"
					>
						<label>Change</label>
						{{ member.change }} ฿
					</p>
				</div>
				<div class="member-setting">
					<button
						:disabled="member.isPaid"
						class="show-qr"
						@click="showQrCode(member.haveToPaid)"
					>
						Show
						<base-qr-code-icon class="icon" />
					</button>
					<div class="checkbox">
						<input
							:id="`${member}${index}`"
							v-model="member.isPaid"
							:true-value="true"
							:false-value="false"
							type="checkbox"
						>
						<label :for="`${member}${index}`">
							<span>Paid</span>
						</label>
					</div>
				</div>
			</div>
		</div>
		<div class="party-detail-manage">
			<button
				class="btn"
				@click="editParty"
			>
				Edit
			</button>
			<button
				class="btn delete"
				@click="deleteParty"
			>
				Delete
			</button>
			<base-modal
				:open="isShow"
				@close="closeModal"
			>
				<base-me-qr-code :amount="amount" />
				<p>Pay me 😛</p>
				<p>{{ amount }} ฿</p>
			</base-modal>
		</div>
	</div>
</template>
<script>
import BaseBackButton from "@/components/BaseBackButton.vue";
import BaseModal from "@/components/BaseModal.vue";
import BaseQrCodeIcon from "@/components/BaseQrCodeIcon.vue";
import BaseMeQrCode from "@/components/BaseMeQrCode.vue";
import { mapState } from "vuex";

export default {
	components: {
		BaseModal,
		BaseBackButton,
		BaseQrCodeIcon,
		BaseMeQrCode
	},
	data() {
		return {
			party: null,
			bills: null,
			isShow: false,
			amount: 0
		};
	},
	computed: {
		...mapState("me", [
			"parties"
		]),
		partyData() {
			const name = this.$route.params.partyId;
			return this.parties.find((p) => p.name === name);
		}
	},
	created() {
		this.party = this.partyData;
		this.bills = this.partyData.splitBills;
	},
	methods: {
		async editParty() {
			await this.$store.dispatch("party/editParty", this.party)
				.then(() => {
					this.$router.push({
						name: "create-party",
						params: {
							partyId: this.$route.params.partyId
						}
					});
				});
		},
		menuWithComma(menus) {
			let result = "";
			menus.forEach((menu) => {
				if (menu) {
					result += `${menu}, `;
				}
			});
			return result.slice(0, result.length - 2);
		},
		deleteParty() {
			/* eslint-disable no-alert */
			const wantToDelete = confirm("Are you sure to delete this party ?");

			if (wantToDelete) {
				this.$store.dispatch("me/deleteParty", this.$route.params.partyId);
				this.$router.push({ name: "main" });
			}
		},
		showQrCode(amount) {
			this.amount = amount;
			this.isShow = true;
		},
		closeModal() {
			this.isShow = false;
		}
	}
};
</script>