<template>
	<main>
		<section class="section">
			<h1 class="title">
				Let's split the bill
			</h1>
			<button
				class="big-btn"
				@click="createParty"
			>
				Create party
			</button>
		</section>
		<section class="section">
			<party-summary-card :parties="parties" />
		</section>
	</main>
</template>
<script>
import { mapState } from "vuex";
import PartySummaryCard from "@/components/PartySummaryCard.vue";

export default {
	components: {
		PartySummaryCard
	},
	computed: {
		...mapState("me", [
			"parties"
		])
	},
	methods: {
		async createParty() {
			/* eslint-disable no-alert */
			const partyName = prompt("Party name");

			if (!partyName) {
				return;
			}

			const response = await this.$store.dispatch("party/createParty", partyName);

			if (response) {
				this.$store.dispatch("step/clearStep");
				this.$router.push({
					name: "create-party",
					params: {
						partyId: partyName
					}
				});
			} else {
				alert("This name has been taken");
			}
		}
	}
};
</script>