<template>
	<transition
		name="shake"
		mode="out-in"
	>
		<qr-code-vue
			:key="generatedString"
			:value="generatedString"
			size="200"
			class="me-menu-item-qr"
		/>
	</transition>
</template>
<script>
import QrCodeVue from "qrcode.vue";
import promptpayStringPayload from "promptpay-qr";
import { mapState } from "vuex";

export default {
	components: {
		QrCodeVue
	},
	props: {
		amount: {
			type: Number,
			default: 0
		}
	},
	computed: {
		...mapState("me", {
			telNumber: "telNumber"
		}),
		generatedString() {
			return promptpayStringPayload(this.telNumber, {
				amount: this.amount
			});
		}
	}
};
</script>
