<template>
	<div
		:class="[
			'base-modal',
			activeModalClass
		]"
	>
		<div
			class="backdrop"
			@click="onCloseModal"
		/>
		<div class="modal">
			<slot />
			<button
				class="party-menu-box-delete"
				@click="onCloseModal"
			>
				✖️
			</button>
		</div>
	</div>
</template>
<script>
export default {
	props: {
		open: {
			type: Boolean,
			default: false
		}
	},
	computed: {
		activeModalClass() {
			return this.open ? "active" : "";
		}
	},
	methods: {
		onCloseModal() {
			this.$emit("close");
		}
	}
};
</script>