<template>
	<div class="me">
		<transition
			name="icon-fade"
			mode="out-in"
		>
			<button
				:key="isOpen"
				class="me-btn-toggle"
				@click="isOpen = !isOpen"
			>
				<p
					:class="[
						isOpen ? 'is-open' : '',
						'me-btn-toggle-icon'
					]"
				>
					{{ btnIcon }}
				</p>
			</button>
		</transition>
		<transition name="slide-down">
			<div
				v-show="isOpen"
				class="me-menu"
			>
				<div class="me-menu-list">
					<base-me-qr-code :amount="amount" />
					<div class="me-menu-item">
						<input
							v-model="mobileNumber"
							type="tel"
							class="me-menu-input"
							placeholder="Input tel. number here"
							onfocus="this.placeholder=''"
							onblur="this.placeholder='Input tel. number here'"
						>
					</div>
					<p class="me-menu-item-description">
						Your telephone number is stored only in your device
					</p>
				</div>
			</div>
		</transition>
	</div>
</template>
<script>
import BaseMeQrCode from "@/components/BaseMeQrCode.vue";
import { mapState } from "vuex";

export default {
	components: {
		BaseMeQrCode
	},
	data() {
		return {
			isOpen: false,
			mobileNumber: "",
			amount: 0
		};
	},
	computed: {
		...mapState("me", {
			telNumber: "telNumber"
		}),
		btnIcon() {
			return this.isOpen ? "🙅🏿‍♂️" : "🙋🏼‍♂️";
		}
	},
	watch: {
		mobileNumber() {
			this.$store.dispatch("me/updateTelNumber", this.mobileNumber);
		}
	},
	created() {
		this.mobileNumber = this.telNumber;
	}
};
</script>
