<template>
	<div class="party-member">
		<h1 class="title">
			Who join this party ?
		</h1>
		<div
			v-for="(member, index) in inputMembers"
			:key="`${member}${index}`"
			class="party-member-field"
		>
			<input
				:key="componentKey"
				v-model="member.name"
				:class="errors[index] ? 'error' : ''"
				:placeholder="`Member# ${index+1}`"
				:onblur="`this.placeholder='Member# ${index+1}'`"
				type="text"
				onfocus="this.placeholder=''"
				@input="removeInputError(index)"
			>
			<transition name="shake">
				<p
					v-if="errors[index]"
					class="error-msg"
				>
					No empty field
				</p>
			</transition>
			<button
				class="delete-btn"
				@click="deleteMember(index)"
			>
				✖️
			</button>
		</div>
		<button
			class="btn"
			@click="addMember"
		>
			Add
		</button>
		<transition name="fade-in">
			<button
				v-if="hasMember"
				class="btn"
				@click="submit"
			>
				Next
			</button>
		</transition>
	</div>
</template>
<script>
import { mapState } from "vuex";

export default {
	data() {
		return {
			inputMembers: [{
				name: ""
			}],
			errors: [],
			componentKey: true
		};
	},
	computed: {
		...mapState("party", [
			"party"
		]),
		...mapState("step", [
			"steps"
		]),
		hasMember() {
			return this.inputMembers.length >= 2;
		},
		getAllMemberNames() {
			return this.party.splitBills.map((bill) => {
				return {
					name: bill.name
				};
			});
		}
	},
	watch: {
		inputMembers: {
			handler() {
				const unWantSteps = ["cost", "menu"];
				const contains = unWantSteps.some((i) => this.steps.includes(i));

				if (contains) {
					this.$store.dispatch("step/deleteStep", "menu");
					this.$store.dispatch("step/deleteStep", "cost");
				}
			},
			deep: true
		}
	},
	created() {
		if (this.party.splitBills.length > 0) {
			this.inputMembers = this.getAllMemberNames;
		}
	},
	methods: {
		sorryForForcingYouToReRender() {
			this.componentKey = !this.componentKey;
		},
		addMember() {
			this.inputMembers.push({ name: "" });
		},
		deleteMember(index) {
			this.$delete(this.inputMembers, index);
			this.$delete(this.errors, index);
		},
		removeInputError(index) {
			this.errors[index] = false;
		},
		validateSubmit() {
			this.inputMembers.forEach((member, index) => {
				if (!member.name) {
					this.errors[index] = true;
				} else {
					this.errors[index] = false;
				}
			});
			this.sorryForForcingYouToReRender();
		},
		submit() {
			this.validateSubmit();
			const isError = this.errors.some((error) => error);
			if (!isError) {
				this.$store.dispatch("party/createMembers", {
					partyName: this.$route.params.partyId,
					members: this.inputMembers
				});
				this.$store.dispatch("step/addStep", "menu");
				this.$emit("next", "menu");
			}
		}
	}
};
</script>
