<template>
	<div class="party-cost">
		<h1 class="title">
			Pain part you guys 🍻
		</h1>
		<div class="party-cost-total">
			<h3>Input total cost</h3>
			<p class="party-cost-description">
				The cost that including VAT, Service charge, etc.
			</p>
			<p class="party-cost-description current-cost">
				Current cost: {{ totalMenu }} ฿
			</p>
			<div class="party-cost-total-input">
				<input
					v-model="total"
					type="text"
					class="party-cost-input"
				>
				<span class="party-cost-total-input-baht">฿</span>
			</div>
		</div>
		<h3>Who is been treated ?</h3>
		<p class="party-cost-description">
			The selected person will not be counted in the bill.
		</p>
		<div class="party-cost-box">
			<ul class="party-cost-box-member-list">
				<li
					v-for="(member, id) in persons"
					:key="`${member}${id}`"
					class="party-cost-box-member-item"
				>
					<input
						:id="`${id}${member}`"
						v-model="member.treat"
						:value="member.name"
						type="checkbox"
						class="party-cost-input"
						@input="handleTreat(id)"
					>
					<label :for="`${id}${member}`">{{ member.name }}</label>
				</li>
			</ul>
		</div>
		<!-- <div class="party-menu-box">
			<h2
				:class="[
					'party-menu-title',
					hasNoOnePay ? 'party-cost-error' : ''
				]"
			>
				{{ handlePayText }}
			</h2>
			<div
				v-for="(member, index) in nonSelectMembers"
				:key="`${member}${index}`"
				class="party-menu-field"
			>
				<div class="party-menu-field-input">
					<label class="party-menu-field-input-label">{{ member.name }}</label>
					<div class="party-cost-total-input">
						<input
							v-model="member.paid"
							type="text"
							class="party-menu-field-input-text"
						>
						<span class="party-cost-total-input-baht">฿</span>
					</div>
				</div>
			</div>
		</div> -->
		<button
			class="big-btn"
			@click="splitDaBill"
		>
			SplitDaBill
		</button>
		<!-- <p
			v-if="isNotEnough"
			class="party-cost-warning"
		>
			Still not affordable
			<span class="lack">{{ lackBaht | formatCost }} ฿ left</span>
		</p> -->
	</div>
</template>
<script>
import { mapState } from "vuex";
import { calculateMenuSplitCost } from "../helpers/billCalculation";

export default {
	filters: {
		formatCost(value) {
			return value.toLocaleString();
		}
	},
	data() {
		return {
			total: "",
			persons: []
		};
	},
	computed: {
		...mapState("party", {
			party: "party",
			orders: "orders"
		}),
		hasNoOnePay() {
			return this.nonSelectMembers.length === 0;
		},
		handlePayText() {
			return this.hasNoOnePay ? "Someone have to pay BRO !" : "Hey you guys pay how much ?";
		},
		nonSelectMembers() {
			return this.persons.filter((member) => {
				return !member.treat;
			});
		},
		partyMembers() {
			return this.persons.map((m) => m.name) || [];
		},
		allGatherMoney() {
			return this.persons.map((m) => {
				if (m.paid === "") {
					return 0;
				}
				return parseInt(m.paid, 10);
			}) || [];
		},
		allMenuCost() {
			if (this.orders.length !== 0) {
				return this.orders.map((order) => parseInt(order.cost, 10));
			}
			return null;
		},
		isNotEnough() {
			if (this.total > 0) {
				const sum = this.allGatherMoney.reduce((a, b) => a + b);
				return sum < this.total;
			}

			return 0;
		},
		totalMenu() {
			if (this.allMenuCost) {
				return this.allMenuCost.reduce((a, b) => a + b);
			}

			return 0;
		},
		totalPaid() {
			if (this.allGatherMoney.length !== 0) {
				return this.allGatherMoney.reduce((a, b) => a + b);
			}

			return 0;
		},
		lackBaht() {
			if (!this.totalPaid) {
				return this.total;
			}
			return this.total - this.totalPaid;
		},
		partyData() {
			return this.nonSelectMembers.map((m) => {
				return {
					...m,
					menus: this.getJoinMenus(m.name)
				};
			});
		}
	},
	created() {
		this.persons = this.party.splitBills;
		this.total = this.totalMenu;
	},
	methods: {
		splitDaBill() {
			const data = {
				total: this.total,
				partyBills: this.partyData
			};

			const splitCosts = calculateMenuSplitCost(this.orders, data.partyBills);
			const partyData = this.party;
			const payload = {
				...partyData,
				totalCost: data.total,
				splitBills: splitCosts.personCosts,
				orders: this.orders
			};

			this.$store.dispatch("me/updateParties", payload);
			this.$router.push({ name: "main" });
		},
		handleTreat(index) {
			if (this.persons[index].treat) {
				this.persons[index].paid = 0;
			}
		},
		getJoinMenus(name) {
			return this.orders.map((order) => {
				if (order.members.includes(name)) {
					return order.name;
				}

				return null;
			});
		}
	}
};
</script>