<template>
	<div class="party-menu">
		<h1 class="title">
			What do you guys order ?
		</h1>
		<transition-group
			name="party-menu-list"
			tag="div"
		>
			<div
				v-for="(menu, index) in menus"
				:id="`anchor-${index + 1}`"
				:key="`${index}`"
				class="party-menu-box"
			>
				<h2 class="party-menu-title">
					Menu <span class="party-menu-title-name">{{ menu.name }}</span>
				</h2>
				<div class="party-menu-field">
					<div class="party-menu-field-input">
						<label class="party-menu-field-input-label">Name</label>
						<input
							v-model="menu.name"
							class="party-menu-field-input-text"
							type="text"
						>
					</div>
					<div class="party-menu-field-input">
						<label class="party-menu-field-input-label">Cost</label>
						<input
							v-model="menu.cost"
							class="party-menu-field-input-text"
							type="number"
						>
					</div>
					<div class="party-menu-field-input">
						<label class="party-menu-field-input-label">Members</label>
						<ul
							class="party-menu-field-input-member-list"
						>
							<template v-if="partyMembers.length > 0">
								<li class="party-menu-field-input-member-item">
									<input
										:id="`${index}all`"
										v-model="menu.selectAll"
										type="checkbox"
										@click="handleSelectAll(index)"
									>
									<label :for="`${index}all`">All</label>
								</li>
								<li
									v-for="(member, id) in partyMembers"
									:key="`${member}${id}`"
									class="party-menu-field-input-member-item"
								>
									<input
										:id="`${id}${member}${index}`"
										v-model="menu.members"
										:value="member"
										type="checkbox"
									>
									<label :for="`${id}${member}${index}`">{{ member }}</label>
								</li>
							</template>
							<template v-else>
								<li class="party-menu-field-input-member-item error">
									No member
								</li>
							</template>
						</ul>
					</div>
				</div>
				<button
					class="party-menu-box-delete"
					@click="deleteMenu(index)"
				>
					✖️
				</button>
			</div>
		</transition-group>
		<transition name="shake">
			<p
				v-if="hasError"
				class="error"
			>
				Please fill all the field
			</p>
		</transition>
		<button
			class="btn"
			@click="addMenu"
		>
			Add
		</button>
		<button
			v-if="hasAtLeastOneMenu"
			class="btn"
			@click="submit"
		>
			Submit
		</button>
	</div>
</template>
<script>
import { mapState } from "vuex";

export default {
	data() {
		return {
			sorryForThis: 0,
			menus: [{
				id: 0,
				name: "",
				cost: "",
				members: [],
				selectAll: false
			}],
			errors: []
		};
	},
	computed: {
		...mapState("party", [
			"party",
			"orders"
		]),
		...mapState("step", [
			"steps"
		]),
		anchorId() {
			return this.menus.length - 1;
		},
		hasAtLeastOneMenu() {
			return this.menus.length > 0;
		},
		partyMembers() {
			return this.party.splitBills.map((m) => m.name);
		},
		hasError() {
			return this.errors.includes(true);
		}
	},
	watch: {
		menus: {
			handler() {
				if (this.steps.includes("cost")) {
					this.$store.dispatch("step/deleteStep", "cost");
				}
				this.menus.forEach((menu) => {
					if (menu.members !== this.partyMembers && menu.selectAll) {
						menu.selectAll = false;
					}
				});
			},
			deep: true
		}
	},
	created() {
		if (this.orders.length > 0) {
			this.menus = this.orders;
		}
	},
	methods: {
		handleSelectAll(index) {
			if (!this.menus[index].selectAll) {
				this.menus[index].members = this.partyMembers;
			} else {
				this.menus[index].members = [];
			}
		},
		addMenu() {
			this.menus.push({
				id: ++this.sorryForThis,
				name: "",
				cost: "",
				members: [],
				selectAll: false
			});

			const id = this.anchorId;
			if (id > 0) {
				this.scrollTo(`#anchor-${id}`);
			}
		},
		deleteMenu(index) {
			/* eslint-disable no-alert */
			if (confirm("Delete ?")) {
				this.$delete(this.menus, index);
			}

			if (this.menus.length === 0) {
				this.errors = [];
			}
		},
		scrollTo(element) {
			this.$scrollTo(element, 500, {
				offset: 300
			});
		},
		validateSubmit() {
			this.errors = [];
			this.menus.forEach((menu) => {
				if (menu.name === "" || menu.cost === "" || menu.members.length === 0) {
					this.errors.push(true);
				} else {
					this.errors.push(false);
				}
			});
		},
		submit() {
			this.validateSubmit();

			if (!this.hasError) {
				this.errors = [];
				this.$store.dispatch("party/updateOrders", this.menus);
				this.$store.dispatch("step/addStep", "cost");
				this.$emit("next", "cost");
			}
		}
	}
};
</script>

