<template>
	<div class="party-summary">
		<div
			v-for="(party, index) in parties"
			:key="`${party}${index}`"
			class="box"
		>
			<div class="header">
				<h1 class="name">
					{{ party.name }}
				</h1>
				<router-link
					:to="{
						name: 'party-detail',
						params: {
							partyId: party.name
						}
					}"
				>
					<button class="detail">
						Detail
					</button>
				</router-link>
			</div>
			<p class="total">
				{{ party.totalCost | formatPrice }} ฿
			</p>
			<div class="members">
				<span
					v-for="(member, id) in getAllMemberNames(party)"
					:key="`${member}${id}`"
					class="item"
				>
					{{ member }}
				</span>
			</div>
		</div>
	</div>
</template>
<script>
export default {
	filters: {
		formatPrice(value) {
			return value.toLocaleString();
		}
	},
	props: {
		parties: {
			type: Array,
			required: true
		}
	},
	methods: {
		getAllMemberNames(party) {
			return party.splitBills.map((m) => m.name);
		}
	}
};
</script>